datasets:
  - name: comma10k
    crop_height: 256
    crop_width: 960
    scale: 1.0
    root_dir: "/datasets/comma10k/imgs"
  - name: bdd100k
    crop_height: 256
    crop_width: 960
    scale: 1.0
    root_dir: "/datasets/BDD100k/bdd100k/images"

model:
  lr: 1e-4
  in_ch: 3
  res_block_ch: [32, 64, 64, 128, 256, 384]
  num_attn_blocks: 16
  adv_weight: 0.01

max_epochs: 8
accelerator: gpu
devices: 1
batch_size: 4
num_workers: 1
run_profiler: False
