name: autoencoder
max_epochs: 40
accelerator: gpu
devices: 1
batch_size: 8
num_workers: 1  # TODO: IterDatasets need special handling for workers > 1!
run_profiler: False

datasets:
  - type: img_loader
    target_height: 384
    target_width: 960
    crop_top: 140
    crop_bottom: 170
    scale: 1.0
    root_dir: "/datasets/comma10k/imgs"

  - type: img_loader
    target_height: 384
    target_width: 960
    crop_top: 150
    crop_bottom: 130
    scale: 1.0
    root_dir: "/datasets/BDD100k/bdd100k/images"

  - type: mcap_loader
    target_height: 384
    target_width: 960
    crop_top: 320
    crop_bottom: 0
    scale: 1.0
    root_dir: "/datasets/waymo_e2e_mcap"
    topics:
      - "/camera/front/image_compressed"
      - "/camera/front_left/image_compressed"
      - "/camera/front_right/image_compressed"

model:
  lr: 1e-4
  in_ch: 3
  res_block_ch: [32, 64, 128, 256, 384]
  num_attn_blocks: 12
  adv_weight: 0.01
